<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>School Management System</title>

  <!-- 
    - favicon
  -->
  <link rel="shortcut icon" href="./images/favicon.png" type="image/svg+xml">

  <!-- 
    - custom css link
  -->
  <link rel="stylesheet" href="public/css/style.css">
  <!-- 
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&family=Roboto:wght@400;500;700&display=swap"
    rel="stylesheet">
</head>

<body id="top">

  <!-- 
    - #HEADER
  -->

  <header class="header" data-header>
    <div class="container">

      <a href="#" class="logo"></a>

      <nav class="navbar container" data-navbar>
        <ul class="navbar-list">

          <li>
            <a href="#home" class="navbar-link" data-nav-link>Home</a>
          </li>

          <li>
            <a href="#about us" class="navbar-link" data-nav-link>About us</a>
          </li>

          <li>
            <a href="#achievements" class="navbar-link" data-nav-link>Achievements</a>
          </li>

          <li>
            <a href="#institutes" class="navbar-link" data-nav-link>institutes</a>
          </li>

          <li>
            <a href="#infrastructure" class="navbar-link" data-nav-link>Infrastructure</a>
          </li>

          <li>
            <a href="#contact" class="navbar-link" data-nav-link>Contact Us</a>
          </li>

          <li>
            <a href="#" class="btn btn-primary">Register Now</a>
          </li>

        </ul>
      </nav>

      <button class="nav-toggle-btn" aria-label="Toggle menu" data-nav-toggler>
        <ion-icon name="menu-outline" class="open"></ion-icon>
        <ion-icon name="close-outline" class="close"></ion-icon>
      </button>

    </div>
  </header>





  <main>
    <article>

      <!-- 
        - #HERO
      -->

      <section class="section hero" id="home" aria-label="hero">
        <div class="container">

          <div class="hero-content">

           <h2>School Management System</h2>

            <h1 class="h1 hero-title">Knowledge is power</h1>

            <p class="hero-text">
              Education is the passport to the future, for tomorrow belongs to those who prepare for it today.
            </p>

            <a href="#" class="btn btn-primary">login</a>

          </div>

          <figure class="hero-banner">
            <img src="./images/maxresdefault.jpg" width="720" height="673" alt="hero banner" class="w-100">
          </figure>

        </div>
      </section>





      <!-- 
        - #SERVICE
      -->

      <section class="section service" id="service" aria-label="service">
        <div class="container">

          <h2 class="h2 section-title">Courses Offered</h2>

          <p class="section-text">
            There are a variety of options available for an undergraduate course in our college.
          </p>

          <ul class="grid-list">

            <li>
              <div class="service-card">

                <div class="card-icon" style="background-color: #13c4a1">
                  <ion-icon name="chatbox"></ion-icon>
                </div>

                <h3 class="h3">
                  <a href="#" class="card-title">
                    Aviation Management</a>
                </h3>

                <p class="card-text">
                  Computer design refers to the process of creating and designing computer systems, hardware components, and digital devices.
                   It involves the development of computer architecture, circuit design, and the integration of hardware and software components.
                </p>

              </div>
            </li>

            <li>
              <div class="service-card">

                <div class="card-icon" style="background-color: #6610f2">
                  <ion-icon name="desktop"></ion-icon>
                </div>

                <h3 class="h3">
                  <a href="#" class="card-title">Computer Science and Engineering</a>
                </h3>

                <p class="card-text">
                  The college has conceptualized and implemented Allied health professions in various disciplines which are meant to equip the 
                  health care professionals with the advanced tools in order to survive in this present era of fierce competition and 
                  specialization. As there is an increasing demand for competent allied health professionals all around the world.
                </p>

              </div>
            </li>

            <li>
              <div class="service-card">

                <div class="card-icon" style="background-color: #ffb700">
                  <ion-icon name="bulb"></ion-icon>
                </div>

                <h3 class="h3">
                  <a href="#" class="card-title">Allied Health Science</a>
                </h3>

                <p class="card-text">
                  Srinivas Dental College & Hospital offers five year BDS course duly affiliated by Rajiv Gandhi University of
                   Health Sciences, Bangalore and approved by the Dental Council of India (DCI).
                   Bachelor of Dental Surgery - 05 yrs
                </p>

              </div>
            </li>

            <li>
              <div class="service-card">

                <div class="card-icon" style="background-color: #fc3549">
                  <ion-icon name="phone-portrait"></ion-icon>
                </div>

                <h3 class="h3">
                  <a href="#" class="card-title">Dental Science</a>
                </h3>

                <p class="card-text">
                  In the era of social connectivity, your brand's presence on social
                   media platforms is critical to building relationships, engaging with
                    your audience, and achieving business success. At Infinity Business
                     and Marketing Agency, we specialize in social media management to
                      help you navigate the dynamic world of social networks strategically 
                      and effectively.
                </p>

              </div>
            </li>

            <li>
              <div class="service-card">

                <div class="card-icon" style="background-color: #00d280">
                  <ion-icon name="archive"></ion-icon>
                </div>

                <h3 class="h3">
                  <a href="#" class="card-title">College Phramcy</a>
                </h3>

                <p class="card-text">
                  Pharmacy was established in the year 2004 offering both Under-Graduate and Post-Graduate Degree Courses in Pharmacy. The college is 
                  located at the Valachil Campus of the Srinivas Group of Colleges with picturesque surroundings. 
                  The campus has a salubrious climate throughout the year providing the best environment for the studies for the students of the College.
                </p>

              </div>
            </li>

            <li>
              <div class="service-card">

                <div class="card-icon" style="background-color: #ff612f">
                  <ion-icon name="build"></ion-icon>
                </div>

                <h3 class="h3">
                  <a href="#" class="card-title">Physiotherapy</a>
                </h3>

                <p class="card-text">
                  Physical therapy, one of the fastest growing allied health areas of medicine, is the system of treatment of disease and disability using 
                  physical exercises, 
                  electrotherapeutic modalities and manual therapy techniques with referral and first contact clinical practice.
                </p>

              </div>
            </li>

          </ul>

        </div>
      </section>





      <!-- 
        - #PROJECT
      -->

      <section class="section project" id="project" aria-label="project">
        <div class="container">

          <h2 class="h2 section-title">Institutes</h2>

          <p class="section-text">
            An institute is an organisational body created for a certain purpose. 
            They are often research organisations (research institutes) created to do research on specific topics, or can also be a professional body.
          </p>

          <ul class="grid-list">

            <li>
              <div class="project-card">

                <figure class="card-banner img-holder" style="--width: 510; --height: 700;">
                  <img src="./images/aviation.png" width="100" height="100" loading="lazy"
                    alt="Designing a better cinema experience" class="img-cover">
                </figure>

                <div class="card-content">

                  <p class="card-subtitle">Aviation</p>

                  <h3 class="h3">
                    <a href="#" class="card-title">Journeys of Inspiration</a>
                  </h3>

                  <a href="#" class="btn btn-primary">View Details</a>

                </div>

              </div>
            </li>

            <li>
              <div class="project-card">

                <figure class="card-banner img-holder" style="--width: 510; --height: 700;">
                  <img src="./images/computer.png" width="510" height="700" loading="lazy"
                    alt="Building design process within teams" class="img-cover">
                </figure>

                <div class="card-content">

                  <p class="card-subtitle">Computer Science and Engineering</p>

                  <h3 class="h3">
                    <a href="#" class="card-title">Coding is today's language of creativity</a>
                  </h3>

                  <a href="#" class="btn btn-primary">View Details</a>

                </div>

              </div>
            </li>

            <li>
              <div class="project-card">

                <figure class="card-banner img-holder" style="--width: 510; --height: 700;">
                  <img src="./images/allied.png" width="510" height="700" loading="lazy"
                    alt="How intercom brings play into their design process" class="img-cover">
                </figure>

                <div class="card-content">

                  <p class="card-subtitle">Allied Health Science</p>

                  <h3 class="h3">
                    <a href="#" class="card-title">Better health, Better tommarrow</a>
                  </h3>

                  <a href="#" class="btn btn-primary">View Details</a>

                </div>

              </div>
            </li>

            <li>
              <div class="project-card">

                <figure class="card-banner img-holder" style="--width: 510; --height: 700;">
                  <img src="./images/dental.png" width="510" height="700" loading="lazy"
                    alt="Stuck with to-do list, I created a new app for" class="img-cover">
                </figure>

                <div class="card-content">

                  <p class="card-subtitle">Dental Science </p>

                  <h3 class="h3">
                    <a href="#" class="card-title">Your best life begins with a smile</a>
                  </h3>

                  <a href="#" class="btn btn-primary">View Details</a>

                </div>

              </div>
            </li>

            <li>
              <div class="project-card">

                <figure class="card-banner img-holder" style="--width: 510; --height: 700;">
                  <img src="./images/phramcy.png" width="510" height="700" loading="lazy"
                    alt="Examples of different types of sprints" class="img-cover">
                </figure>

                <div class="card-content">

                  <p class="card-subtitle">Phramcy</p>

                  <h3 class="h3">
                    <a href="#" class="card-title">The cure you want;cure you need</a>
                  </h3>

                  <a href="#" class="btn btn-primary">View Details</a>

                </div>

              </div>
            </li>

            <li>
              <div class="project-card">

                <figure class="card-banner img-holder" style="--width: 510; --height: 700;">
                  <img src="./images/physiotherapy.png" width="510" height="700" loading="lazy"
                    alt="Redesigning the New York times app" class="img-cover">
                </figure>

                <div class="card-content">

                  <p class="card-subtitle">Physiotherapy </p>

                  <h3 class="h3">
                    <a href="#" class="card-title">Relieve Pain</a>
                  </h3>

                  <a href="#" class="btn btn-primary">View Details</a>

                </div>

              </div>
            </li>

          </ul>

        </div>
      </section>





      <!-- 
        - #ABOUT US
      -->

      <section class="section about" id="about us" aria-label="about us">
        <div class="container">

          <div class="about-banner img-holder">
            <img src="./images/founder.png" width="720" height="960" loading="lazy" alt="about banner"
              class="img-cover">
              <img src="./images/cofounder.png" width="720" height="960" loading="lazy" alt="about banner"
              class="img-cover">

            <button class="play-btn" aria-label="Play video">
              <ion-icon name="play" aria-hidden="true"></ion-icon>
            </button>
          </div>

          <div class="about-content">

            <h2 class="h2 section-title">Founder of Srinivas University</h2>

            <p class="section-text">
              Srinivas University is a private university located in Mangalore, Karnataka, India. The university was established
               in 2015 by the A. Shama Rao Foundation through the Srinivas University Act, 2013. It is part of the Srinivas Group of Institutions.
            </p>

            <h3 class="h3">Co-Founder of Srinivas University</h3>

            <p class="section-text">
              Foundation in the year 1988 by Shri CA A. Raghavendra Rao a well-known and leading Chartered accountant of Mangaluru.
            </p>

            <h3 class="h3">News and Events</h3>

            <ul class="about-list">

              <li class="about-item">
                <ion-icon name="checkmark-circle" aria-hidden="true"></ion-icon>

                <p class="section-text">
                  The Institute of Social Sciences and Humanities, Srinivas University 
                  in association with Forest Department, Mangalore Region has organized "VanamahothsavaProgramme" at Srinivas Nagar, Mukka,
                </p>
              </li>

              
            </ul>

            <h3 class="h3">Placements</h3>

            <p class="section-text">
              We feel validated in the quality of education and experience we provide to our students when a majority of our students are 
              successfully placed on campus. 
              Each of IMC Programs is designed to give our students a balanced education with theory as well as practical knowledge
            </p>

          </div>

        </div>
      </section>






      <!-- 
        - #CONTACT
      -->

      <section class="section contact" id="contact" aria-label="contact">
        <div class="container">

          <h2 class="h2 section-title">Register Now to Apply </h2>

          <p class="section-text">
           Srinivas University, Mangalore
          </p>

          <form action="\" class="contact-form">

            <div class="input-wrapper">
              <input type="text" name="name" aria-label="name" placeholder="Full Name*" required class="input-field">

              <input type="email" name="email_address" aria-label="email" placeholder="Email address*" required
                class="input-field">
            </div>
            <div class="input-wrapper">
            <input type="city you live in" name="city you live in" aria-label="city you live in" 
            placeholder="city you live in" class="input-field">

            <input type="choose your course" name="choose your course" aria-label="choose your course"
             placeholder="choose your course" class="input-field">
            </div>

            <div class="input-wrapper">
              <input type="text" name="course intersted in" aria-label="course intersted in" placeholder="course intersted in" 
              class="input-field">

              <input type="number" name="phone" aria-label="phone" placeholder="Phone number" class="input-field">
            </div>



            <textarea name="message" aria-label="message" placeholder="Your comments..*" required
              class="input-field"></textarea>

            <div class="checkbox-wrapper">
              <input type="checkbox" name="terms_and_policy" id="terms" required class="checkbox">

              <label for="terms" class="label">
                By submitting this form, you<a href="#" class="label-link">Terms of services</a> and <a href="#" 
                class="label-link">Privacy
                  Policy</a>
                </label>
              </div>
  
              <button type="submit" class="btn btn-primary"  onclick="showThankYouMessage()">Apply now</button>
  
            </form>
  
           
  
          </div>
        </section>
  
      </article>
    </main>
  
  

  <!-- 
    - #FOOTER
  -->

  <footer class="footer">
    <div class="container">

      <p class="copyright">
        &copy; 2023-24 All Rights Reserved by <a href="#" class="copyright-link">university</a>
      </p>

    </div>
  </footer>
  <!-- 
    - #BACK TO TOP
  -->

  <a href="#top" aria-label="back to top" data-back-top-btn class="back-top-btn">
    <ion-icon name="chevron-up" aria-hidden="true"></ion-icon>
  </a>
   <script>function showThankYouMessage() {
    alert("Thank you for your response! We will reach out to you soon.");
  }</script>
</body>

</html>